body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font: size 50px;
}
.pk{
    color: orange;
}
.half-width {
width: 40%;
float: left; 
margin-left: 6%;
padding: 2%;
}
.half-width img{
    width: 65%;
    
}
p{
    color: rgb(4, 0, 255);
    text-align: justify;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
.button{
    text-decoration: none;
    background-color: rgb(255, 47, 161);
    padding: 10px 20 px;
    border-radius: 3px;
    color: white;
    font-weight: 700;


}
.khalid{
    width: 40%;
}
#dada{
    color:inherit;
}
#bottom-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
}
.kapa{
    height: 1000px;
}