body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font size: 50px;
}
.pk{
    color: orange;
}
.half-width {
width: 36%;
float: left; 
margin-left: 5%;
padding: 2%;
}
.half-width img{
    width: 70%;
    
}
p{
    color: rgb(4, 0, 255);
    text-align: justify;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 40px;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon,tomato);
    padding: 10px 20 px;
    border-radius: 5px;
    color: white;
    font-weight: 700;


}
.khalid{
    width: 40%;
}
#dada{
    color:blue;
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
}
.kapa{
    height: 2000px;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    height: 80%;
    background-color: white;

}
.exprience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightsalmon, yellow);
    border-image-slice: 1;

}
#baby-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}
footer p{
    text-align:center;
}